@import 'tailwindcss';

@theme {
    --color-*: initial;
    --color-dark-orange: #d87d4a;
    --color-light-orange: #fbaf85;
    --color-white: #fff;
    --color-black: #000;
    --color-light-black: #101010;
    --color-gray-700: #979797;
    --color-gray-500: #f1f1f1;
    --color-gray-200: #fafafa;
    --color-gray-100: #cfcfcf;
    --color-red-400: #cd2c2c;

    --font-*: initial;
    --font-manrope: 'Manrope', sans-serif;

    --text-*: initial;
    --text-h1: 56px;
    --text-h1--font-weight: 700;
    --text-h1--line-height: 58px;
    --text-h1--letter-spacing: 2px;
    --text-h2: 40px;
    --text-h2--font-weight: 700;
    --text-h2--line-height: 44px;
    --text-h2--letter-spacing: 1.5px;
    --text-h3: 32px;
    --text-h3--font-weight: 700;
    --text-h3--line-height: 36px;
    --text-h3--letter-spacing: 1.15px;
    --text-h4: 28px;
    --text-h4--font-weight: 700;
    --text-h4--line-height: 38px;
    --text-h4--letter-spacing: 2px;
    --text-h5: 24px;
    --text-h5--font-weight: 700;
    --text-h5--line-height: 33px;
    --text-h5--letter-spacing: 1.7px;
    --text-h6: 18px;
    --text-h6--font-weight: 700;
    --text-h6--line-height: 24px;
    --text-h6--letter-spacing: 1.3px;
    --text-overline: 14px;
    --text-overline--font-weight: 400;
    --text-overline--line-height: 19px;
    --text-overline--letter-spacing: 10px;
    --text-sub-title: 13px;
    --text-sub-title--font-weight: 700;
    --text-sub-title--line-height: 25px;
    --text-sub-title--letter-spacing: 1px;
    --text-body: 15px;
    --text-body--font-weight: 500;
    --text-body--line-height: 25px;

    --font-weight-*: initial;
    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-regular: 400;

    --breakpoint-*: initial;
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1180px;

    --spacing: 4px;

    --default-transition-duration: 300ms;
}

@custom-variant aria-invalid (&[aria-invalid="true"]);

@layer utilities {
    .bg-home-zx7-speaker {
        background-image: url('./assets/home/mobile/speaker-zx7.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    @media (min-width: 768px) {
        .bg-home-zx7-speaker {
            background-image: url('./assets/home/tablet/speaker-zx7.jpg');
        }
    }

    @media (min-width: 1180px) {
        .bg-home-zx7-speaker {
            background-image: url('./assets/home/desktop/speaker-zx7.jpg');
        }
    }
}

:root {
    font-family: var(--font-manrope);
    color: var(--color-black);
    font-optical-sizing: auto;
    font-style: normal;
}

body:has(dialog[open]) {
    overflow: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--color-black);
    -webkit-box-shadow: 0 0 0 40rem #fff inset;
}

label.radio-input:has(> input[type='radio']):has(> span) > span {
    text-box-trim: trim-both;
}

*:focus-visible {
    outline: 1px solid var(--color-dark-orange);
}
